/* EditDay.css */

/* Center the day cards within the container */
.days-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the day cards horizontally */
  gap: 10px;
}

/* Style each day card */
.DayCard {
  flex: 0 0 calc(33.33% - 20px);
  /* Make each day card take up one-third of the available width with some spacing */
  /* Add additional styles to center the day card content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add some padding to give space around the day card content */
  padding: 10px;
  /* Add a border and border-radius to make it visually appealing */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* CustomTransition.css */
.MuiSlide-enter {
  transition: transform 500ms cubic-bezier(0.1, 0.75, 0.3, 1);
}

.MuiSlide-enterActive {
  transform: translate3d(0, 0, 0);
}

.MuiSlide-exit {
  transition: transform 500ms cubic-bezier(0.1, 0.75, 0.3, 1);
}

.MuiSlide-exitActive {
  transform: translate3d(0, 100%, 0);
}
